/* 1. Create global variables for text and background color */
:root {
  --color-text: black;
  --color-background: white;
}

/* 2. Add conditional styling for dark mode preference */
@media (prefers-color-scheme: dark) {
  /* Re-assign previous variables */
  :root {
    --color-text: white; /* black => white */
    --color-background: black; /* white => black */
  }
}

/* 3. Assign variables to page color and background */
body {
  color: var(--color-text);
  background-color: var(--color-background);
}

//-------------------------
// General styles
// not related to dark mode
//-------------------------

// Custom font Works Sans from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap");

// Layout
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 65ch;
  padding-block: 4rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

// Typography
body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
p {
  margin-bottom: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 2.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}
 
